USE master
GO
DROP DATABASE IF EXISTS [ERP_CDSCDL2]
GO
CREATE DATABASE [ERP_CDSCDL2]
GO
USE [ERP_CDSCDL2]
GO
/****** Object:  Table [dbo].[APPLICATIONS]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICATIONS](
	[ID_APPLICATION] [int] IDENTITY(1,1) NOT NULL,
	[APPLICATION_NAME] [nvarchar](100) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
 CONSTRAINT [PK_APPLICATIONS] PRIMARY KEY CLUSTERED 
(
	[ID_APPLICATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPLICATIONS_MENU_FORM_RELATIONS]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICATIONS_MENU_FORM_RELATIONS](
	[ID_MENU_FORM] [int] NOT NULL,
	[ID_APPLICATION] [int] NOT NULL,
 CONSTRAINT [PK_APPLICATIONS_MENU_FORM_RELATIONS] PRIMARY KEY CLUSTERED 
(
	[ID_MENU_FORM] ASC,
	[ID_APPLICATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CITIZENSHIP]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITIZENSHIP](
	[CITIZENSHIP_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[FROM_DATE] [datetime] NOT NULL,
	[THRU_DATE] [datetime] NULL,
	[COUNTRY_OF_CITIZENSHIP] [varchar](30) NOT NULL,
	[GEO_ID] [numeric](18, 0) NOT NULL,
	[PARTY_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK__CITIZENSHIP__37E53D9E] PRIMARY KEY CLUSTERED 
(
	[CITIZENSHIP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CITY]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITY](
	[GEO_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK__CITY__078C1F06] PRIMARY KEY CLUSTERED 
(
	[GEO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[GEO_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK__COUNTRY__7E02B4CC] PRIMARY KEY CLUSTERED 
(
	[GEO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUNTY]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTY](
	[GEO_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK__COUNTY__16CE6296] PRIMARY KEY CLUSTERED 
(
	[GEO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUNTY_CITY]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTY_CITY](
	[GEO_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK__COUNTY_CITY__14E61A24] PRIMARY KEY CLUSTERED 
(
	[GEO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimCustomers]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomers](
	[CustomerID] [numeric](18, 0) NOT NULL,
	[CustomerName] [nvarchar](300) NULL,
	[Segment] [nvarchar](300) NULL,
 CONSTRAINT [PK_DimCustomers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimLocations]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimLocations](
	[LocationID] [int] NOT NULL,
	[Market] [nvarchar](500) NULL,
	[Region] [nvarchar](500) NULL,
	[Country] [nvarchar](500) NULL,
	[State] [nvarchar](500) NULL,
	[City] [nvarchar](500) NULL,
	[PostalCode] [nvarchar](500) NULL,
 CONSTRAINT [PK_DimLocations] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProducts]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProducts](
	[ProductID] [nvarchar](300) NOT NULL,
	[ProductName] [nvarchar](300) NULL,
	[SubCategory] [nvarchar](300) NULL,
	[Category] [nvarchar](300) NULL,
 CONSTRAINT [PK_DimProducts] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTime]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTime](
	[TimeID] [int] NOT NULL,
	[OrderYear] [int] NULL,
	[OrderQuarter] [int] NULL,
	[OrderMonth] [int] NULL,
	[OrderDay] [int] NULL,
	[ShipYear] [int] NULL,
	[ShipQuarter] [int] NULL,
	[ShipMonth] [int] NULL,
	[ShipDay] [int] NULL,
 CONSTRAINT [PK_DimTime] PRIMARY KEY CLUSTERED 
(
	[TimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRICT]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRICT](
	[GEO_ID] [numeric](18, 0) NOT NULL,
	[GEO_ID_OF_COUNTRY] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK__DISTRICT__7C1A6C5A] PRIMARY KEY CLUSTERED 
(
	[GEO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactOders]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactOders](
	[Row ID] [numeric](18, 0) NOT NULL,
	[Order ID] [nvarchar](300) NULL,
	[CustomerID] [numeric](18, 0) NULL,
	[ProductID] [nvarchar](300) NULL,
	[TimeID] [int] NULL,
	[LocationID] [int] NULL,
	[Sales] [numeric](18, 0) NULL,
	[Quantity] [numeric](18, 0) NULL,
	[Discount] [numeric](18, 0) NULL,
	[Profit] [numeric](18, 0) NULL,
	[Shipping Cost] [numeric](18, 0) NULL,
	[Order Priority] [nvarchar](300) NULL,
	[Ship Mode] [nvarchar](300) NULL,
 CONSTRAINT [PK_FactOders] PRIMARY KEY CLUSTERED 
(
	[Row ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENDER]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENDER](
	[PARTY_ID] [numeric](18, 0) NOT NULL,
	[GENDER_TYPE_ID] [numeric](18, 0) NOT NULL,
	[FROM_DATE] [datetime] NOT NULL,
	[THRU_DATE] [datetime] NULL,
 CONSTRAINT [PK__GENDER__3F865F66] PRIMARY KEY CLUSTERED 
(
	[PARTY_ID] ASC,
	[GENDER_TYPE_ID] ASC,
	[FROM_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENDER_TYPE]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENDER_TYPE](
	[GENDER_TYPE_ID] [numeric](18, 0) NOT NULL,
	[GENDER_TYPE_NAME] [nvarchar](10) NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
 CONSTRAINT [PK__GENDER_TYPE__3D9E16F4] PRIMARY KEY CLUSTERED 
(
	[GENDER_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEOGRAPHIC_BOUNDARY]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEOGRAPHIC_BOUNDARY](
	[GEO_ID] [numeric](18, 0) NOT NULL,
	[GEO_BOUNDARY_TYPE_ID] [numeric](18, 0) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[GEO_CODE] [varchar](40) NULL,
	[ABBREVIATION] [varchar](40) NULL,
 CONSTRAINT [PK__GEOGRAPHIC_BOUND__3607E224] PRIMARY KEY CLUSTERED 
(
	[GEO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEOGRAPHIC_BOUNDARY_ASSOCIATION]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEOGRAPHIC_BOUNDARY_ASSOCIATION](
	[GEOGRAPHIC_LOCATION_ID_TO] [numeric](18, 0) NOT NULL,
	[GEOGRAPHIC_LOCATION_ID_FROM] [numeric](18, 0) NOT NULL,
	[GEOGRAPHIC_BOUNDARY_ASSOCIATION_TYPE_ID] [numeric](18, 0) NULL,
 CONSTRAINT [PK__GEOGRAPHIC_BOUND__7FEAFD3E] PRIMARY KEY CLUSTERED 
(
	[GEOGRAPHIC_LOCATION_ID_TO] ASC,
	[GEOGRAPHIC_LOCATION_ID_FROM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEOGRAPHIC_BOUNDARY_ASSOCIATION_TYPE]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEOGRAPHIC_BOUNDARY_ASSOCIATION_TYPE](
	[GEOGRAPHIC_BOUNDARY_ASSOCIATION_TYPE_ID] [numeric](18, 0) NOT NULL,
	[GEOGRAPHIC_BOUNDARY_ASSOCIATION_TYPE_NAME] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
 CONSTRAINT [PK_GEOGRAPHIC_BOUNDARY_ASSOCIATION_TYPE] PRIMARY KEY CLUSTERED 
(
	[GEOGRAPHIC_BOUNDARY_ASSOCIATION_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEOGRAPHIC_BOUNDARY_TYPE]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEOGRAPHIC_BOUNDARY_TYPE](
	[GEO_BOUNDARY_TYPE_ID] [numeric](18, 0) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__GEOGRAPHIC_BOUND__332B7579] PRIMARY KEY CLUSTERED 
(
	[GEO_BOUNDARY_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP_RELATIONSHIP_MENU_FORM]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_RELATIONSHIP_MENU_FORM](
	[ID_GROUP] [int] NOT NULL,
	[ID_MENU_FORM] [int] NOT NULL,
 CONSTRAINT [PK_GROUP_RELATIONSHIP_MENU_FORM_1] PRIMARY KEY CLUSTERED 
(
	[ID_GROUP] ASC,
	[ID_MENU_FORM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP_USER]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_USER](
	[ID_GROUP] [int] IDENTITY(1,1) NOT NULL,
	[GROUP_NAME] [nvarchar](300) NULL,
	[MOTA] [nvarchar](1000) NULL,
 CONSTRAINT [PK_GROUP_USER] PRIMARY KEY CLUSTERED 
(
	[ID_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP_USER_RELATIONSHIP_USER]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_USER_RELATIONSHIP_USER](
	[ID_GROUP] [int] NOT NULL,
	[LOGIN_ACCOUNT_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_GROUP_USER_RELATIONSHIP_USER_1] PRIMARY KEY CLUSTERED 
(
	[ID_GROUP] ASC,
	[LOGIN_ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INNER_DISTRICT]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INNER_DISTRICT](
	[GEO_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK__INNER_DISTRICT__09746778] PRIMARY KEY CLUSTERED 
(
	[GEO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN_ACCOUNT]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_ACCOUNT](
	[LOGIN_ACCOUNT_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CURRENT_USERNAME] [nvarchar](50) NULL,
	[CURRENT_PASSWORD] [varchar](50) NULL,
	[PARTY_ID] [numeric](18, 0) NOT NULL,
	[CURRENT_LOGIN_ACCOUNT_TYPE_ID] [numeric](18, 0) NOT NULL,
	[CURRENT_LOGIN_ACCOUNT_STATUS_TYPE_ID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_USER_LOGIN] PRIMARY KEY CLUSTERED 
(
	[LOGIN_ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN_ACCOUNT_STATUS]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_ACCOUNT_STATUS](
	[LOGIN_ACCOUNT_ID] [numeric](18, 0) NOT NULL,
	[LOGIN_ACCOUNT_STATUS_TYPE_ID] [numeric](18, 0) NOT NULL,
	[FROM_DATE] [datetime] NOT NULL,
	[THRU_DATE] [datetime] NULL,
	[COMMENTS] [varchar](255) NULL,
 CONSTRAINT [PK_LOGIN_ACCOUNT_STATUS_1] PRIMARY KEY CLUSTERED 
(
	[LOGIN_ACCOUNT_ID] ASC,
	[LOGIN_ACCOUNT_STATUS_TYPE_ID] ASC,
	[FROM_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN_ACCOUNT_STATUS_TYPE]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_ACCOUNT_STATUS_TYPE](
	[LOGIN_ACCOUNT_STATUS_TYPE_ID] [numeric](18, 0) NOT NULL,
	[LOGIN_ACCOUNT_STATUS_TYPE_NAME] [varchar](50) NULL,
	[DESCRIPTION] [varchar](255) NULL,
 CONSTRAINT [PK_LOGIN_ACCOUNT_STATUS] PRIMARY KEY CLUSTERED 
(
	[LOGIN_ACCOUNT_STATUS_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN_ACCOUNT_TYPE]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_ACCOUNT_TYPE](
	[LOGIN_ACCOUNT_TYPE_ID] [numeric](18, 0) NOT NULL,
	[LOGIN_ACCOUNT_TYPE_NAME] [varchar](30) NULL,
	[DESCRIPTION] [varchar](255) NULL,
 CONSTRAINT [PK_LOGIN_ACCOUNT_TYPE] PRIMARY KEY CLUSTERED 
(
	[LOGIN_ACCOUNT_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN_ACCOUNT_TYPE_HISTORY]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_ACCOUNT_TYPE_HISTORY](
	[LOGIN_ACCOUNT_ID] [numeric](18, 0) NOT NULL,
	[LOGIN_CCOUNT_TYPE_ID] [numeric](18, 0) NOT NULL,
	[FROM_DATE] [datetime] NOT NULL,
	[THRU_DATE] [datetime] NULL,
	[COMMENTS] [varchar](255) NULL,
 CONSTRAINT [PK_LOGIN_ACCOUNT_TYPE_HISTORY] PRIMARY KEY CLUSTERED 
(
	[LOGIN_ACCOUNT_ID] ASC,
	[LOGIN_CCOUNT_TYPE_ID] ASC,
	[FROM_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN_ACCOUNT_USERNAME_PASSWORD_HISTORY]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_ACCOUNT_USERNAME_PASSWORD_HISTORY](
	[LOGIN_ACCOUNT_ID] [numeric](18, 0) NOT NULL,
	[FROM_DATE] [datetime] NOT NULL,
	[THRU_DATE] [datetime] NULL,
	[USERNAME] [varchar](25) NULL,
	[PASSWORD] [varchar](50) NULL,
 CONSTRAINT [PK_LOGIN_ACCOUNT_HISTORY] PRIMARY KEY CLUSTERED 
(
	[LOGIN_ACCOUNT_ID] ASC,
	[FROM_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU_FORM]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU_FORM](
	[ID_MENU_FORM] [int] IDENTITY(1,1) NOT NULL,
	[MENU_FORM_NAME] [nvarchar](300) NULL,
	[MENU_FORM_URL] [varchar](50) NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[SORT_PARENT] [tinyint] NULL,
	[SORT] [tinyint] NULL,
	[ID_MENU_FORM_PARENT] [int] NULL,
	[VISIBLE] [bit] NULL,
 CONSTRAINT [PK_MENU_FORM] PRIMARY KEY CLUSTERED 
(
	[ID_MENU_FORM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTY]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTY](
	[PARTY_ID] [numeric](18, 0) NOT NULL,
	[TYPE_OF_PARTY] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK__PARTY__0697FACD] PRIMARY KEY CLUSTERED 
(
	[PARTY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTY_CLASSIFICATION]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTY_CLASSIFICATION](
	[FROM_DATE] [datetime] NOT NULL,
	[PARTY_TYPE_ID] [numeric](18, 0) NOT NULL,
	[PARTY_ID] [numeric](18, 0) NOT NULL,
	[THRU_DATE] [datetime] NULL,
 CONSTRAINT [PK__PARTY_CLASSIFICA__24285DB4] PRIMARY KEY CLUSTERED 
(
	[FROM_DATE] ASC,
	[PARTY_TYPE_ID] ASC,
	[PARTY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTY_HISTORY]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTY_HISTORY](
	[PARTY_ID] [numeric](18, 0) NOT NULL,
	[FROM_DATE] [datetime] NOT NULL,
	[THRU_DATE] [datetime] NOT NULL,
	[PARTY_TABLE_NAME] [nvarchar](255) NULL,
 CONSTRAINT [PK_PARTY_HISTORY] PRIMARY KEY CLUSTERED 
(
	[PARTY_ID] ASC,
	[FROM_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTY_RELATIONSHIP]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTY_RELATIONSHIP](
	[PARTY_ID_FROM] [numeric](18, 0) NOT NULL,
	[PARTY_ID_TO] [numeric](18, 0) NOT NULL,
	[FROM_DATE] [datetime] NOT NULL,
	[ROLE_TYPE_ID_TO] [numeric](18, 0) NOT NULL,
	[ROLE_TYPE_ID_FROM] [numeric](18, 0) NOT NULL,
	[STATUS_TYPE_ID] [numeric](18, 0) NOT NULL,
	[PRIORITY_TYPE_ID] [numeric](18, 0) NOT NULL,
	[PARTY_RELATIONSHIP_TYPE_ID] [numeric](18, 0) NOT NULL,
	[THRU_DATE] [datetime] NULL,
	[COMMENTS] [nvarchar](255) NULL,
 CONSTRAINT [PK__PARTY_RELATIONSH__3A179ED3] PRIMARY KEY CLUSTERED 
(
	[PARTY_ID_FROM] ASC,
	[PARTY_ID_TO] ASC,
	[FROM_DATE] ASC,
	[ROLE_TYPE_ID_TO] ASC,
	[ROLE_TYPE_ID_FROM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTY_RELATIONSHIP_ROLE_PAIR]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTY_RELATIONSHIP_ROLE_PAIR](
	[PARTY_RELATIONSHIP_TYPE_ID] [numeric](18, 0) NOT NULL,
	[ROLE_TYPE_ID_VALID_FROM] [numeric](18, 0) NOT NULL,
	[ROLE_TYPE_ID_VALID_TO] [numeric](18, 0) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
 CONSTRAINT [PK__PARTY_RELATIONSH__32767D0B] PRIMARY KEY CLUSTERED 
(
	[PARTY_RELATIONSHIP_TYPE_ID] ASC,
	[ROLE_TYPE_ID_VALID_FROM] ASC,
	[ROLE_TYPE_ID_VALID_TO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTY_RELATIONSHIP_TYPE]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTY_RELATIONSHIP_TYPE](
	[PARTY_RELATIONSHIP_TYPE_ID] [numeric](18, 0) NOT NULL,
	[PARTY_RELATIONSHIP_TYPE_NAME] [nvarchar](255) NULL,
	[TYPE_OF_PARTY_RELATIONSHIP] [nvarchar](255) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
 CONSTRAINT [PK__PARTY_RELATIONSH__308E3499] PRIMARY KEY CLUSTERED 
(
	[PARTY_RELATIONSHIP_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTY_ROLE]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTY_ROLE](
	[PARTY_ID] [numeric](18, 0) NOT NULL,
	[ROLE_TYPE_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK__PARTY_ROLE__2DE6D218] PRIMARY KEY CLUSTERED 
(
	[PARTY_ID] ASC,
	[ROLE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTY_ROLE_TYPE]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTY_ROLE_TYPE](
	[ROLE_TYPE_ID] [numeric](18, 0) NOT NULL,
	[PARTY_ROLE_TYPE_NAME] [nvarchar](50) NULL,
	[TYPE_OF_PARTY_ROLE] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
 CONSTRAINT [PK__PARTY_ROLE_TYPE__0B91BA14] PRIMARY KEY CLUSTERED 
(
	[ROLE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTY_THING_RELATIONSHIP]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTY_THING_RELATIONSHIP](
	[PARTY_ID_FROM] [numeric](18, 0) NOT NULL,
	[PARTY_ROLE_TYPE_ID_FROM] [numeric](18, 0) NOT NULL,
	[THING_ID_TO] [numeric](18, 0) NOT NULL,
	[THING_ROLE_TYPE_ID_TO] [numeric](18, 0) NOT NULL,
	[FROM_DATE] [datetime] NOT NULL,
	[THRU_DATE] [datetime] NULL,
	[STATUS_TYPE_ID] [numeric](18, 0) NOT NULL,
	[PRIORITY_TYPE_ID] [numeric](18, 0) NOT NULL,
	[PARTY_THING_RELATIONSHIP_TYPE_ID] [numeric](18, 0) NOT NULL,
	[COMMENTS] [nvarchar](max) NULL,
 CONSTRAINT [PK__PARTY_THING_RELA__6225902D] PRIMARY KEY CLUSTERED 
(
	[PARTY_ID_FROM] ASC,
	[PARTY_ROLE_TYPE_ID_FROM] ASC,
	[THING_ID_TO] ASC,
	[THING_ROLE_TYPE_ID_TO] ASC,
	[FROM_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTY_THING_RELATIONSHIP_ROLE_PAIR]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTY_THING_RELATIONSHIP_ROLE_PAIR](
	[PARTY_THING_RELATIONSHIP_TYPE_ID] [numeric](18, 0) NOT NULL,
	[PARTY_ROLE_TYPE_ID_VALID_FROM] [numeric](18, 0) NOT NULL,
	[THING_ROLE_TYPE_ID_VALID_TO] [numeric](18, 0) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
 CONSTRAINT [PK__PARTY_THING_ROLE__5A846E65] PRIMARY KEY CLUSTERED 
(
	[PARTY_THING_RELATIONSHIP_TYPE_ID] ASC,
	[PARTY_ROLE_TYPE_ID_VALID_FROM] ASC,
	[THING_ROLE_TYPE_ID_VALID_TO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTY_THING_RELATIONSHIP_TYPE]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTY_THING_RELATIONSHIP_TYPE](
	[PARTY_THING_RELATIONSHIP_TYPE_ID] [numeric](18, 0) NOT NULL,
	[PARTY_THING_RELATIONSHIP_TYPE_NAME] [nvarchar](255) NOT NULL,
	[TYPE_OF_PARTY_THING_RELATIONSHIP] [nvarchar](255) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
 CONSTRAINT [PK__PARTY_THING_RELA__589C25F3] PRIMARY KEY CLUSTERED 
(
	[PARTY_THING_RELATIONSHIP_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTY_TYPE]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTY_TYPE](
	[PARTY_TYPE_ID] [numeric](18, 0) NOT NULL,
	[PARTY_TYPE_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__PARTY_TYPE__36BC0F3B] PRIMARY KEY CLUSTERED 
(
	[PARTY_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PASSIVE_ROLE]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PASSIVE_ROLE](
	[THING_ID] [numeric](18, 0) NOT NULL,
	[ROLE_TYPE_ID] [numeric](18, 0) NOT NULL,
	[TYPE_OF_PASSIVE_ROLE] [nvarchar](255) NULL,
 CONSTRAINT [PK_PASSIVE_ROLE] PRIMARY KEY CLUSTERED 
(
	[THING_ID] ASC,
	[ROLE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PASSPORT]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PASSPORT](
	[PASSPORT_ID] [numeric](18, 0) NOT NULL,
	[PASSPORT_NUMBER] [varchar](20) NULL,
	[PASSPORT_ISSUE_PLACE] [varchar](30) NULL,
	[GEO_ID] [numeric](18, 0) NULL,
	[PASSPORT_ISSUE_DATE] [datetime] NULL,
	[PASSPORT_EXPIRATION_DATE] [datetime] NULL,
	[CITIZENSHIP_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK__PASSPORT__0E04126B] PRIMARY KEY CLUSTERED 
(
	[PASSPORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSON]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSON](
	[PARTY_ID] [numeric](18, 0) NOT NULL,
	[CURRENT_LAST_NAME] [nvarchar](50) NULL,
	[CURRENT_FIRST_NAME] [nvarchar](50) NULL,
	[CURRENT_MIDDLE_NAME] [nvarchar](50) NULL,
	[CURRENT_PERSONAL_TITLE] [nvarchar](50) NULL,
	[CURRENT_SUFFIX] [nvarchar](50) NULL,
	[CURRENT_NICKNAME] [nvarchar](50) NULL,
	[CURRENT_GENDER_TYPE_ID] [numeric](18, 0) NULL,
	[BIRTH_DATE] [datetime] NULL,
	[BIRTH_PLACE] [nvarchar](250) NULL,
	[BIRTH_PLACE_ID] [numeric](18, 0) NULL,
	[CURRENT_HEIGHT] [numeric](18, 0) NULL,
	[CURRENT_WEIGHT] [numeric](18, 0) NULL,
	[MOTHER_S_MADIEN_NAME] [nvarchar](100) NULL,
	[CURRENT_MARTIAL_STATUS_TYPE_ID] [numeric](18, 0) NULL,
	[PEOPLE_ID_NUMBER] [nvarchar](50) NULL,
	[PEOPLE_ID_ISSUE_DATE] [datetime] NULL,
	[PEOPLE_ID_ISSUE_PLACE] [nvarchar](50) NULL,
	[SOCIAL_SECURITY_NUMBER] [nvarchar](20) NULL,
	[CURRENT_MAJOR_CITIZENSHIP] [nvarchar](60) NULL,
	[CURRENT_PASSPORT_NUMBER] [nvarchar](40) NULL,
	[CURRENT_PASSPORT_ISSUE_PLACE] [nvarchar](60) NULL,
	[CURRENT_PASSPORT_ISSUE_DATE] [datetime] NULL,
	[CURRENT_PASSPORT_EXPIRATION_DATE] [datetime] NULL,
	[TOTAL_YEARS_WORK_EXPERIENCE] [numeric](18, 0) NULL,
	[CALCULATED_TOTAL_YEARS_WORK_EXPERIENCE] [numeric](18, 0) NULL,
	[COMMENTS] [nvarchar](max) NULL,
	[PERSON_IMAGE] [image] NULL,
 CONSTRAINT [PK__PERSON__3508D0F3] PRIMARY KEY CLUSTERED 
(
	[PARTY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSON_CLASSIFICATION]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSON_CLASSIFICATION](
	[FROM_DATE] [datetime] NOT NULL,
	[PARTY_TYPE_ID] [numeric](18, 0) NOT NULL,
	[PARTY_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK__PERSON_CLASSIFIC__324172E1] PRIMARY KEY CLUSTERED 
(
	[FROM_DATE] ASC,
	[PARTY_TYPE_ID] ASC,
	[PARTY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSON_NAME]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSON_NAME](
	[PARTY_ID] [numeric](18, 0) NOT NULL,
	[PERSON_NAME_TYPE_ID] [numeric](18, 0) NOT NULL,
	[PERSON_NAME_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[PERSON_NAME_SEQ_TYPE_ID] [numeric](18, 0) NOT NULL,
	[FROM_DATE] [datetime] NOT NULL,
	[THRU_DATE] [datetime] NULL,
	[NAME_TEXT] [nvarchar](250) NULL,
	[CURRENT_NAME] [bit] NULL,
 CONSTRAINT [PK__PERSON_NAME__4AF81212] PRIMARY KEY CLUSTERED 
(
	[PARTY_ID] ASC,
	[PERSON_NAME_TYPE_ID] ASC,
	[PERSON_NAME_ID] ASC,
	[PERSON_NAME_SEQ_TYPE_ID] ASC,
	[FROM_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSON_NAME_SEQ_TYPE]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSON_NAME_SEQ_TYPE](
	[PERSON_NAME_SEQ_TYPE_ID] [numeric](18, 0) NOT NULL,
	[PERSON_NAME_SEQ_TYPE_NAME] [varchar](15) NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
 CONSTRAINT [PK_PERSON_NAME_SEQ_TYPE] PRIMARY KEY CLUSTERED 
(
	[PERSON_NAME_SEQ_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSON_NAME_TYPE]    Script Date: 2/28/2024 3:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSON_NAME_TYPE](
	[PERSON_NAME_TYPE_ID] [numeric](18, 0) NOT NULL,
	[PERSON_NAME_TYPE_NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[CURENT_MANE] [bit] NULL,
 CONSTRAINT [PK__PERSON_NAME_TYPE__490FC9A0] PRIMARY KEY CLUSTERED 
(
	[PERSON_NAME_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSON_PHYSICAL_CHARACTERISTIC]    Script Date: 2/28/2024 3:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSON_PHYSICAL_CHARACTERISTIC](
	[PARTY_ID] [numeric](18, 0) NOT NULL,
	[PHYSICAL_CHARACTERISTIC_TYPE_ID] [numeric](18, 0) NOT NULL,
	[FROM_DATE] [datetime] NOT NULL,
	[THRU_DATE] [datetime] NULL,
	[TEXT_VALUE] [varchar](50) NULL,
	[NUMBER_VALUE] [numeric](18, 0) NULL,
	[UOM_ID] [numeric](18, 0) NULL,
 CONSTRAINT [PK__PHYSICAL_CHARACT__50B0EB68] PRIMARY KEY CLUSTERED 
(
	[PARTY_ID] ASC,
	[PHYSICAL_CHARACTERISTIC_TYPE_ID] ASC,
	[FROM_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSON_ROLE]    Script Date: 2/28/2024 3:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSON_ROLE](
	[PARTY_ID] [numeric](18, 0) NOT NULL,
	[ROLE_TYPE_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK__PERSON_ROLE__395884C4] PRIMARY KEY CLUSTERED 
(
	[PARTY_ID] ASC,
	[ROLE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGION]    Script Date: 2/28/2024 3:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGION](
	[GEO_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK__REGION__0B5CAFEA] PRIMARY KEY CLUSTERED 
(
	[GEO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE_TYPE]    Script Date: 2/28/2024 3:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_TYPE](
	[ROLE_TYPE_ID] [numeric](18, 0) NOT NULL,
	[ROLE_TYPE_NAME] [nvarchar](100) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
 CONSTRAINT [PK__ROLE_TYPE__0880433F] PRIMARY KEY CLUSTERED 
(
	[ROLE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALES_TERRITORY]    Script Date: 2/28/2024 3:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALES_TERRITORY](
	[GEO_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK__SALES_TERRITORY__0F2D40CE] PRIMARY KEY CLUSTERED 
(
	[GEO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE_TERRITORY]    Script Date: 2/28/2024 3:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE_TERRITORY](
	[GEO_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK__SERVICE_TERRITOR__11158940] PRIMARY KEY CLUSTERED 
(
	[GEO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TERRITORY]    Script Date: 2/28/2024 3:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERRITORY](
	[GEO_ID] [numeric](18, 0) NOT NULL,
	[GEO_ID_OF_COUNTRY] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK__TERRITORY__05A3D694] PRIMARY KEY CLUSTERED 
(
	[GEO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THING]    Script Date: 2/28/2024 3:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THING](
	[THING_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[GENERAL_TYPE_OF_THING] [nvarchar](155) NOT NULL,
 CONSTRAINT [PK__THING__4F12BBB9] PRIMARY KEY CLUSTERED 
(
	[THING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THING_CLASSIFICATION]    Script Date: 2/28/2024 3:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THING_CLASSIFICATION](
	[THING_ID] [numeric](18, 0) NOT NULL,
	[THING_TYPE_ID] [numeric](18, 0) NOT NULL,
	[FROM_DATE] [datetime] NOT NULL,
	[THRU_DATE] [datetime] NULL,
 CONSTRAINT [PK__THING_CLASSIFICA__208CD6FA] PRIMARY KEY CLUSTERED 
(
	[THING_ID] ASC,
	[THING_TYPE_ID] ASC,
	[FROM_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THING_HISTORY]    Script Date: 2/28/2024 3:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THING_HISTORY](
	[THING_ID] [numeric](18, 0) NOT NULL,
	[FROM_DATE] [datetime] NOT NULL,
	[THRU_DATE] [datetime] NOT NULL,
	[THING_TABLE_NAME] [nvarchar](255) NULL,
 CONSTRAINT [PK_THING_HISTORY] PRIMARY KEY CLUSTERED 
(
	[THING_ID] ASC,
	[FROM_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THING_RELATIONSHIP]    Script Date: 2/28/2024 3:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THING_RELATIONSHIP](
	[THING_ID_FROM] [numeric](18, 0) NOT NULL,
	[THING_ID_TO] [numeric](18, 0) NOT NULL,
	[FROM_DATE] [datetime] NOT NULL,
	[ROLE_TYPE_ID_FROM] [numeric](18, 0) NOT NULL,
	[ROLE_TYPE_ID_TO] [numeric](18, 0) NOT NULL,
	[STATUS_TYPE_ID] [numeric](18, 0) NULL,
	[PRIORITY_TYPE_ID] [numeric](18, 0) NULL,
	[THING_RELATIONSHIP_TYPE_ID] [numeric](18, 0) NULL,
	[THRU_DATE] [datetime] NULL,
	[COMMENTS] [nvarchar](255) NULL,
 CONSTRAINT [PK_THING_RELATIONSHIP] PRIMARY KEY CLUSTERED 
(
	[THING_ID_FROM] ASC,
	[THING_ID_TO] ASC,
	[FROM_DATE] ASC,
	[ROLE_TYPE_ID_FROM] ASC,
	[ROLE_TYPE_ID_TO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THING_RELATIONSHIP_ROLE_PAIR]    Script Date: 2/28/2024 3:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THING_RELATIONSHIP_ROLE_PAIR](
	[THING_RELATIONSHIP_TYPE_ID] [numeric](18, 0) NOT NULL,
	[ROLE_TYPE_ID_VALID_FROM] [numeric](18, 0) NOT NULL,
	[ROLE_TYPE_ID_VALID_TO] [numeric](18, 0) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_THING_RELATIONSHIP_ROLE_PAIR] PRIMARY KEY CLUSTERED 
(
	[THING_RELATIONSHIP_TYPE_ID] ASC,
	[ROLE_TYPE_ID_VALID_FROM] ASC,
	[ROLE_TYPE_ID_VALID_TO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THING_RELATIONSHIP_TYPE]    Script Date: 2/28/2024 3:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THING_RELATIONSHIP_TYPE](
	[THING_RELATIONSHIP_TYPE_ID] [numeric](18, 0) NOT NULL,
	[THING_RELATIONSHIP_TYPE_NAME] [nvarchar](255) NOT NULL,
	[TYPE_OF_THING_RELATIONSHIP] [nvarchar](255) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
 CONSTRAINT [PK_THING_RELATIONSHIP_TYPE] PRIMARY KEY CLUSTERED 
(
	[THING_RELATIONSHIP_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THING_ROLE]    Script Date: 2/28/2024 3:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THING_ROLE](
	[THING_ID] [numeric](18, 0) NOT NULL,
	[ROLE_TYPE_ID] [numeric](18, 0) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NOT NULL,
	[TYPE_OF_THING_ROLE] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__THING_ROLE__54CB950F] PRIMARY KEY CLUSTERED 
(
	[THING_ID] ASC,
	[ROLE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THING_ROLE_TYPE]    Script Date: 2/28/2024 3:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THING_ROLE_TYPE](
	[ROLE_TYPE_ID] [numeric](18, 0) NOT NULL,
	[THING_ROLE_TYPE_NAME] [nvarchar](200) NULL,
	[TYPE_OF_THING_ROLE] [nvarchar](200) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
 CONSTRAINT [PK__THING_ROLE_TYPE__4C364F0E] PRIMARY KEY CLUSTERED 
(
	[ROLE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THING_TYPE]    Script Date: 2/28/2024 3:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THING_TYPE](
	[THING_TYPE_ID] [numeric](18, 0) NOT NULL,
	[THING_TYPE_NAME] [nvarchar](150) NOT NULL,
	[THING_TYPE_ID_ROOT] [numeric](18, 0) NULL,
	[TYPE_OF_THING] [nvarchar](150) NULL,
 CONSTRAINT [PK__THING_TYPE__4A4E069C] PRIMARY KEY CLUSTERED 
(
	[THING_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WARD]    Script Date: 2/28/2024 3:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WARD](
	[GEO_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK__WARD__12FDD1B2] PRIMARY KEY CLUSTERED 
(
	[GEO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MENU_FORM] ADD  CONSTRAINT [DF_MENU_FORM_VISIBLE]  DEFAULT ((1)) FOR [VISIBLE]
GO
ALTER TABLE [dbo].[APPLICATIONS_MENU_FORM_RELATIONS]  WITH CHECK ADD  CONSTRAINT [FK_APPLICATIONS_MENU_FORM_RELATIONS_APPLICATIONS] FOREIGN KEY([ID_APPLICATION])
REFERENCES [dbo].[APPLICATIONS] ([ID_APPLICATION])
GO
ALTER TABLE [dbo].[APPLICATIONS_MENU_FORM_RELATIONS] CHECK CONSTRAINT [FK_APPLICATIONS_MENU_FORM_RELATIONS_APPLICATIONS]
GO
ALTER TABLE [dbo].[APPLICATIONS_MENU_FORM_RELATIONS]  WITH CHECK ADD  CONSTRAINT [FK_APPLICATIONS_MENU_FORM_RELATIONS_MENU_FORM] FOREIGN KEY([ID_MENU_FORM])
REFERENCES [dbo].[MENU_FORM] ([ID_MENU_FORM])
GO
ALTER TABLE [dbo].[APPLICATIONS_MENU_FORM_RELATIONS] CHECK CONSTRAINT [FK_APPLICATIONS_MENU_FORM_RELATIONS_MENU_FORM]
GO
ALTER TABLE [dbo].[CITIZENSHIP]  WITH CHECK ADD  CONSTRAINT [ FK__CITIZENSH__PARTY__38D961D7] FOREIGN KEY([PARTY_ID])
REFERENCES [dbo].[PERSON] ([PARTY_ID])
GO
ALTER TABLE [dbo].[CITIZENSHIP] CHECK CONSTRAINT [ FK__CITIZENSH__PARTY__38D961D7]
GO
ALTER TABLE [dbo].[CITIZENSHIP]  WITH CHECK ADD  CONSTRAINT [ FK_CITIZENSHIP_COUNTRY] FOREIGN KEY([GEO_ID])
REFERENCES [dbo].[COUNTRY] ([GEO_ID])
GO
ALTER TABLE [dbo].[CITIZENSHIP] CHECK CONSTRAINT [ FK_CITIZENSHIP_COUNTRY]
GO
ALTER TABLE [dbo].[CITY]  WITH CHECK ADD  CONSTRAINT [ FK__CITY__GEO_ID__50BBD860] FOREIGN KEY([GEO_ID])
REFERENCES [dbo].[GEOGRAPHIC_BOUNDARY] ([GEO_ID])
GO
ALTER TABLE [dbo].[CITY] CHECK CONSTRAINT [ FK__CITY__GEO_ID__50BBD860]
GO
ALTER TABLE [dbo].[COUNTRY]  WITH CHECK ADD  CONSTRAINT [ FK__COUNTRY__GEO_ID__3DA903EC] FOREIGN KEY([GEO_ID])
REFERENCES [dbo].[GEOGRAPHIC_BOUNDARY] ([GEO_ID])
GO
ALTER TABLE [dbo].[COUNTRY] CHECK CONSTRAINT [ FK__COUNTRY__GEO_ID__3DA903EC]
GO
ALTER TABLE [dbo].[COUNTY]  WITH CHECK ADD  CONSTRAINT [ FK__COUNTY__GEO_ID__5398450B] FOREIGN KEY([GEO_ID])
REFERENCES [dbo].[GEOGRAPHIC_BOUNDARY] ([GEO_ID])
GO
ALTER TABLE [dbo].[COUNTY] CHECK CONSTRAINT [ FK__COUNTY__GEO_ID__5398450B]
GO
ALTER TABLE [dbo].[COUNTY_CITY]  WITH CHECK ADD  CONSTRAINT [ FK__COUNTY_CI__GEO_I__5674B1B6] FOREIGN KEY([GEO_ID])
REFERENCES [dbo].[GEOGRAPHIC_BOUNDARY] ([GEO_ID])
GO
ALTER TABLE [dbo].[COUNTY_CITY] CHECK CONSTRAINT [ FK__COUNTY_CI__GEO_I__5674B1B6]
GO
ALTER TABLE [dbo].[DISTRICT]  WITH CHECK ADD  CONSTRAINT [ FK__DISTRICT__GEO_ID__24D2692A] FOREIGN KEY([GEO_ID_OF_COUNTRY])
REFERENCES [dbo].[COUNTRY] ([GEO_ID])
GO
ALTER TABLE [dbo].[DISTRICT] CHECK CONSTRAINT [ FK__DISTRICT__GEO_ID__24D2692A]
GO
ALTER TABLE [dbo].[DISTRICT]  WITH CHECK ADD  CONSTRAINT [ FK__DISTRICT__GEO_ID__426DB909] FOREIGN KEY([GEO_ID])
REFERENCES [dbo].[GEOGRAPHIC_BOUNDARY] ([GEO_ID])
GO
ALTER TABLE [dbo].[DISTRICT] CHECK CONSTRAINT [ FK__DISTRICT__GEO_ID__426DB909]
GO
ALTER TABLE [dbo].[FactOders]  WITH CHECK ADD  CONSTRAINT [FK_FactOders_DimCustomers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[DimCustomers] ([CustomerID])
GO
ALTER TABLE [dbo].[FactOders] CHECK CONSTRAINT [FK_FactOders_DimCustomers]
GO
ALTER TABLE [dbo].[FactOders]  WITH CHECK ADD  CONSTRAINT [FK_FactOders_DimLocations] FOREIGN KEY([LocationID])
REFERENCES [dbo].[DimLocations] ([LocationID])
GO
ALTER TABLE [dbo].[FactOders] CHECK CONSTRAINT [FK_FactOders_DimLocations]
GO
ALTER TABLE [dbo].[FactOders]  WITH CHECK ADD  CONSTRAINT [FK_FactOders_DimProducts] FOREIGN KEY([ProductID])
REFERENCES [dbo].[DimProducts] ([ProductID])
GO
ALTER TABLE [dbo].[FactOders] CHECK CONSTRAINT [FK_FactOders_DimProducts]
GO
ALTER TABLE [dbo].[FactOders]  WITH CHECK ADD  CONSTRAINT [FK_FactOders_DimTime] FOREIGN KEY([TimeID])
REFERENCES [dbo].[DimTime] ([TimeID])
GO
ALTER TABLE [dbo].[FactOders] CHECK CONSTRAINT [FK_FactOders_DimTime]
GO
ALTER TABLE [dbo].[GENDER]  WITH CHECK ADD  CONSTRAINT [ FK__GENDER__GENDER_T__416EA7D8] FOREIGN KEY([GENDER_TYPE_ID])
REFERENCES [dbo].[GENDER_TYPE] ([GENDER_TYPE_ID])
GO
ALTER TABLE [dbo].[GENDER] CHECK CONSTRAINT [ FK__GENDER__GENDER_T__416EA7D8]
GO
ALTER TABLE [dbo].[GENDER]  WITH CHECK ADD  CONSTRAINT [ FK__GENDER__PARTY_ID__407A839F] FOREIGN KEY([PARTY_ID])
REFERENCES [dbo].[PERSON] ([PARTY_ID])
GO
ALTER TABLE [dbo].[GENDER] CHECK CONSTRAINT [ FK__GENDER__PARTY_ID__407A839F]
GO
ALTER TABLE [dbo].[GENDER]  WITH CHECK ADD  CONSTRAINT [ FK_GENDER_PARTY_CLASSIFICATION] FOREIGN KEY([FROM_DATE], [GENDER_TYPE_ID], [PARTY_ID])
REFERENCES [dbo].[PARTY_CLASSIFICATION] ([FROM_DATE], [PARTY_TYPE_ID], [PARTY_ID])
GO
ALTER TABLE [dbo].[GENDER] CHECK CONSTRAINT [ FK_GENDER_PARTY_CLASSIFICATION]
GO
ALTER TABLE [dbo].[GENDER_TYPE]  WITH CHECK ADD  CONSTRAINT [ FK_GENDER_TYPE_PARTY_TYPE] FOREIGN KEY([GENDER_TYPE_ID])
REFERENCES [dbo].[PARTY_TYPE] ([PARTY_TYPE_ID])
GO
ALTER TABLE [dbo].[GENDER_TYPE] CHECK CONSTRAINT [ FK_GENDER_TYPE_PARTY_TYPE]
GO
ALTER TABLE [dbo].[GEOGRAPHIC_BOUNDARY]  WITH CHECK ADD  CONSTRAINT [ FK__GEOGRAPHI__GEO_B__36FC065D] FOREIGN KEY([GEO_BOUNDARY_TYPE_ID])
REFERENCES [dbo].[GEOGRAPHIC_BOUNDARY_TYPE] ([GEO_BOUNDARY_TYPE_ID])
GO
ALTER TABLE [dbo].[GEOGRAPHIC_BOUNDARY] CHECK CONSTRAINT [ FK__GEOGRAPHI__GEO_B__36FC065D]
GO
ALTER TABLE [dbo].[GEOGRAPHIC_BOUNDARY_ASSOCIATION]  WITH CHECK ADD  CONSTRAINT [ FK__GEOGRAPHI__GEOGR__39D87308] FOREIGN KEY([GEOGRAPHIC_LOCATION_ID_TO])
REFERENCES [dbo].[GEOGRAPHIC_BOUNDARY] ([GEO_ID])
GO
ALTER TABLE [dbo].[GEOGRAPHIC_BOUNDARY_ASSOCIATION] CHECK CONSTRAINT [ FK__GEOGRAPHI__GEOGR__39D87308]
GO
ALTER TABLE [dbo].[GEOGRAPHIC_BOUNDARY_ASSOCIATION]  WITH CHECK ADD  CONSTRAINT [ FK__GEOGRAPHI__GEOGR__3ACC9741] FOREIGN KEY([GEOGRAPHIC_LOCATION_ID_FROM])
REFERENCES [dbo].[GEOGRAPHIC_BOUNDARY] ([GEO_ID])
GO
ALTER TABLE [dbo].[GEOGRAPHIC_BOUNDARY_ASSOCIATION] CHECK CONSTRAINT [ FK__GEOGRAPHI__GEOGR__3ACC9741]
GO
ALTER TABLE [dbo].[GEOGRAPHIC_BOUNDARY_ASSOCIATION]  WITH CHECK ADD  CONSTRAINT [ FK_GEOGRAPHIC_BOUNDARY_ASSOCIATION_GEOGRAPHIC_BOUNDARY_ASSOCIATION_TYPE] FOREIGN KEY([GEOGRAPHIC_BOUNDARY_ASSOCIATION_TYPE_ID])
REFERENCES [dbo].[GEOGRAPHIC_BOUNDARY_ASSOCIATION_TYPE] ([GEOGRAPHIC_BOUNDARY_ASSOCIATION_TYPE_ID])
GO
ALTER TABLE [dbo].[GEOGRAPHIC_BOUNDARY_ASSOCIATION] CHECK CONSTRAINT [ FK_GEOGRAPHIC_BOUNDARY_ASSOCIATION_GEOGRAPHIC_BOUNDARY_ASSOCIATION_TYPE]
GO
ALTER TABLE [dbo].[GEOGRAPHIC_BOUNDARY_TYPE]  WITH CHECK ADD  CONSTRAINT [ FK_GEOGRAPHIC_BOUNDARY_TYPE_THING_TYPE] FOREIGN KEY([GEO_BOUNDARY_TYPE_ID])
REFERENCES [dbo].[THING_TYPE] ([THING_TYPE_ID])
GO
ALTER TABLE [dbo].[GEOGRAPHIC_BOUNDARY_TYPE] CHECK CONSTRAINT [ FK_GEOGRAPHIC_BOUNDARY_TYPE_THING_TYPE]
GO
ALTER TABLE [dbo].[GROUP_RELATIONSHIP_MENU_FORM]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_RELATIONSHIP_MENU_FORM_GROUP_USER] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[GROUP_USER] ([ID_GROUP])
GO
ALTER TABLE [dbo].[GROUP_RELATIONSHIP_MENU_FORM] CHECK CONSTRAINT [FK_GROUP_RELATIONSHIP_MENU_FORM_GROUP_USER]
GO
ALTER TABLE [dbo].[GROUP_RELATIONSHIP_MENU_FORM]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_RELATIONSHIP_MENU_FORM_MENU_FORM] FOREIGN KEY([ID_MENU_FORM])
REFERENCES [dbo].[MENU_FORM] ([ID_MENU_FORM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GROUP_RELATIONSHIP_MENU_FORM] CHECK CONSTRAINT [FK_GROUP_RELATIONSHIP_MENU_FORM_MENU_FORM]
GO
ALTER TABLE [dbo].[GROUP_USER_RELATIONSHIP_USER]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_USER_RELATIONSHIP_USER_GROUP_USER] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[GROUP_USER] ([ID_GROUP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GROUP_USER_RELATIONSHIP_USER] CHECK CONSTRAINT [FK_GROUP_USER_RELATIONSHIP_USER_GROUP_USER]
GO
ALTER TABLE [dbo].[GROUP_USER_RELATIONSHIP_USER]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_USER_RELATIONSHIP_USER_LOGIN_ACCOUNT] FOREIGN KEY([LOGIN_ACCOUNT_ID])
REFERENCES [dbo].[LOGIN_ACCOUNT] ([LOGIN_ACCOUNT_ID])
GO
ALTER TABLE [dbo].[GROUP_USER_RELATIONSHIP_USER] CHECK CONSTRAINT [FK_GROUP_USER_RELATIONSHIP_USER_LOGIN_ACCOUNT]
GO
ALTER TABLE [dbo].[INNER_DISTRICT]  WITH CHECK ADD  CONSTRAINT [ FK__INNER_DIS__GEO_I__59511E61] FOREIGN KEY([GEO_ID])
REFERENCES [dbo].[GEOGRAPHIC_BOUNDARY] ([GEO_ID])
GO
ALTER TABLE [dbo].[INNER_DISTRICT] CHECK CONSTRAINT [ FK__INNER_DIS__GEO_I__59511E61]
GO
ALTER TABLE [dbo].[LOGIN_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [ FK_LOGIN_ACCOUNT_LOGIN_ACCOUNT_STATUS_TYPE] FOREIGN KEY([CURRENT_LOGIN_ACCOUNT_STATUS_TYPE_ID])
REFERENCES [dbo].[LOGIN_ACCOUNT_STATUS_TYPE] ([LOGIN_ACCOUNT_STATUS_TYPE_ID])
GO
ALTER TABLE [dbo].[LOGIN_ACCOUNT] CHECK CONSTRAINT [ FK_LOGIN_ACCOUNT_LOGIN_ACCOUNT_STATUS_TYPE]
GO
ALTER TABLE [dbo].[LOGIN_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [ FK_LOGIN_ACCOUNT_LOGIN_ACCOUNT_TYPE] FOREIGN KEY([CURRENT_LOGIN_ACCOUNT_TYPE_ID])
REFERENCES [dbo].[LOGIN_ACCOUNT_TYPE] ([LOGIN_ACCOUNT_TYPE_ID])
GO
ALTER TABLE [dbo].[LOGIN_ACCOUNT] CHECK CONSTRAINT [ FK_LOGIN_ACCOUNT_LOGIN_ACCOUNT_TYPE]
GO
ALTER TABLE [dbo].[LOGIN_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [ FK_USER_LOGIN_PARTY] FOREIGN KEY([PARTY_ID])
REFERENCES [dbo].[PARTY] ([PARTY_ID])
GO
ALTER TABLE [dbo].[LOGIN_ACCOUNT] CHECK CONSTRAINT [ FK_USER_LOGIN_PARTY]
GO
ALTER TABLE [dbo].[LOGIN_ACCOUNT_STATUS]  WITH CHECK ADD  CONSTRAINT [ FK_LOGIN_ACCOUNT_STATUS_LOGIN_ACCOUNT] FOREIGN KEY([LOGIN_ACCOUNT_ID])
REFERENCES [dbo].[LOGIN_ACCOUNT] ([LOGIN_ACCOUNT_ID])
GO
ALTER TABLE [dbo].[LOGIN_ACCOUNT_STATUS] CHECK CONSTRAINT [ FK_LOGIN_ACCOUNT_STATUS_LOGIN_ACCOUNT]
GO
ALTER TABLE [dbo].[LOGIN_ACCOUNT_STATUS]  WITH CHECK ADD  CONSTRAINT [ FK_LOGIN_ACCOUNT_STATUS_LOGIN_ACCOUNT_STATUS_TYPE] FOREIGN KEY([LOGIN_ACCOUNT_STATUS_TYPE_ID])
REFERENCES [dbo].[LOGIN_ACCOUNT_STATUS_TYPE] ([LOGIN_ACCOUNT_STATUS_TYPE_ID])
GO
ALTER TABLE [dbo].[LOGIN_ACCOUNT_STATUS] CHECK CONSTRAINT [ FK_LOGIN_ACCOUNT_STATUS_LOGIN_ACCOUNT_STATUS_TYPE]
GO
ALTER TABLE [dbo].[LOGIN_ACCOUNT_TYPE_HISTORY]  WITH CHECK ADD  CONSTRAINT [ FK_LOGIN_ACCOUNT_TYPE_HISTORY_LOGIN_ACCOUNT] FOREIGN KEY([LOGIN_ACCOUNT_ID])
REFERENCES [dbo].[LOGIN_ACCOUNT] ([LOGIN_ACCOUNT_ID])
GO
ALTER TABLE [dbo].[LOGIN_ACCOUNT_TYPE_HISTORY] CHECK CONSTRAINT [ FK_LOGIN_ACCOUNT_TYPE_HISTORY_LOGIN_ACCOUNT]
GO
ALTER TABLE [dbo].[LOGIN_ACCOUNT_TYPE_HISTORY]  WITH CHECK ADD  CONSTRAINT [ FK_LOGIN_ACCOUNT_TYPE_HISTORY_LOGIN_ACCOUNT_TYPE] FOREIGN KEY([LOGIN_CCOUNT_TYPE_ID])
REFERENCES [dbo].[LOGIN_ACCOUNT_TYPE] ([LOGIN_ACCOUNT_TYPE_ID])
GO
ALTER TABLE [dbo].[LOGIN_ACCOUNT_TYPE_HISTORY] CHECK CONSTRAINT [ FK_LOGIN_ACCOUNT_TYPE_HISTORY_LOGIN_ACCOUNT_TYPE]
GO
ALTER TABLE [dbo].[LOGIN_ACCOUNT_USERNAME_PASSWORD_HISTORY]  WITH CHECK ADD  CONSTRAINT [ FK_LOGIN_ACCOUNT_HISTORY_LOGIN_ACCOUNT] FOREIGN KEY([LOGIN_ACCOUNT_ID])
REFERENCES [dbo].[LOGIN_ACCOUNT] ([LOGIN_ACCOUNT_ID])
GO
ALTER TABLE [dbo].[LOGIN_ACCOUNT_USERNAME_PASSWORD_HISTORY] CHECK CONSTRAINT [ FK_LOGIN_ACCOUNT_HISTORY_LOGIN_ACCOUNT]
GO
ALTER TABLE [dbo].[MENU_FORM]  WITH CHECK ADD  CONSTRAINT [FK_MENU_FORM_MENU_FORM] FOREIGN KEY([ID_MENU_FORM_PARENT])
REFERENCES [dbo].[MENU_FORM] ([ID_MENU_FORM])
GO
ALTER TABLE [dbo].[MENU_FORM] CHECK CONSTRAINT [FK_MENU_FORM_MENU_FORM]
GO
ALTER TABLE [dbo].[PARTY]  WITH CHECK ADD  CONSTRAINT [FK_PARTY_DimCustomers] FOREIGN KEY([PARTY_ID])
REFERENCES [dbo].[DimCustomers] ([CustomerID])
GO
ALTER TABLE [dbo].[PARTY] CHECK CONSTRAINT [FK_PARTY_DimCustomers]
GO
ALTER TABLE [dbo].[PARTY_CLASSIFICATION]  WITH CHECK ADD  CONSTRAINT [ FK__PARTY_CLA__PARTY__49CEE3AF] FOREIGN KEY([PARTY_ID])
REFERENCES [dbo].[PARTY] ([PARTY_ID])
GO
ALTER TABLE [dbo].[PARTY_CLASSIFICATION] CHECK CONSTRAINT [ FK__PARTY_CLA__PARTY__49CEE3AF]
GO
ALTER TABLE [dbo].[PARTY_CLASSIFICATION]  WITH CHECK ADD  CONSTRAINT [ FK__PARTY_CLA__PARTY__4AC307E8] FOREIGN KEY([PARTY_TYPE_ID])
REFERENCES [dbo].[PARTY_TYPE] ([PARTY_TYPE_ID])
GO
ALTER TABLE [dbo].[PARTY_CLASSIFICATION] CHECK CONSTRAINT [ FK__PARTY_CLA__PARTY__4AC307E8]
GO
ALTER TABLE [dbo].[PARTY_HISTORY]  WITH CHECK ADD  CONSTRAINT [ FK_PARTY_HISTORY_PARTY] FOREIGN KEY([PARTY_ID])
REFERENCES [dbo].[PARTY] ([PARTY_ID])
GO
ALTER TABLE [dbo].[PARTY_HISTORY] CHECK CONSTRAINT [ FK_PARTY_HISTORY_PARTY]
GO
ALTER TABLE [dbo].[PARTY_RELATIONSHIP]  WITH CHECK ADD  CONSTRAINT [ FK__PARTY_REL__PARTY__3CF40B7E] FOREIGN KEY([PARTY_RELATIONSHIP_TYPE_ID])
REFERENCES [dbo].[PARTY_RELATIONSHIP_TYPE] ([PARTY_RELATIONSHIP_TYPE_ID])
GO
ALTER TABLE [dbo].[PARTY_RELATIONSHIP] CHECK CONSTRAINT [ FK__PARTY_REL__PARTY__3CF40B7E]
GO
ALTER TABLE [dbo].[PARTY_RELATIONSHIP]  WITH CHECK ADD  CONSTRAINT [ FK__PARTY_RELATIONSH__3B0BC30C] FOREIGN KEY([PARTY_ID_FROM], [ROLE_TYPE_ID_FROM])
REFERENCES [dbo].[PARTY_ROLE] ([PARTY_ID], [ROLE_TYPE_ID])
GO
ALTER TABLE [dbo].[PARTY_RELATIONSHIP] CHECK CONSTRAINT [ FK__PARTY_RELATIONSH__3B0BC30C]
GO
ALTER TABLE [dbo].[PARTY_RELATIONSHIP]  WITH CHECK ADD  CONSTRAINT [ FK__PARTY_RELATIONSH__3BFFE745] FOREIGN KEY([PARTY_ID_TO], [ROLE_TYPE_ID_TO])
REFERENCES [dbo].[PARTY_ROLE] ([PARTY_ID], [ROLE_TYPE_ID])
GO
ALTER TABLE [dbo].[PARTY_RELATIONSHIP] CHECK CONSTRAINT [ FK__PARTY_RELATIONSH__3BFFE745]
GO
ALTER TABLE [dbo].[PARTY_RELATIONSHIP_ROLE_PAIR]  WITH CHECK ADD  CONSTRAINT [ FK__PARTY_REL__PARTY__336AA144] FOREIGN KEY([PARTY_RELATIONSHIP_TYPE_ID])
REFERENCES [dbo].[PARTY_RELATIONSHIP_TYPE] ([PARTY_RELATIONSHIP_TYPE_ID])
GO
ALTER TABLE [dbo].[PARTY_RELATIONSHIP_ROLE_PAIR] CHECK CONSTRAINT [ FK__PARTY_REL__PARTY__336AA144]
GO
ALTER TABLE [dbo].[PARTY_RELATIONSHIP_ROLE_PAIR]  WITH CHECK ADD  CONSTRAINT [ FK__PARTY_REL__ROLE___345EC57D] FOREIGN KEY([ROLE_TYPE_ID_VALID_FROM])
REFERENCES [dbo].[PARTY_ROLE_TYPE] ([ROLE_TYPE_ID])
GO
ALTER TABLE [dbo].[PARTY_RELATIONSHIP_ROLE_PAIR] CHECK CONSTRAINT [ FK__PARTY_REL__ROLE___345EC57D]
GO
ALTER TABLE [dbo].[PARTY_RELATIONSHIP_ROLE_PAIR]  WITH CHECK ADD  CONSTRAINT [ FK__PARTY_REL__ROLE___3552E9B6] FOREIGN KEY([ROLE_TYPE_ID_VALID_TO])
REFERENCES [dbo].[PARTY_ROLE_TYPE] ([ROLE_TYPE_ID])
GO
ALTER TABLE [dbo].[PARTY_RELATIONSHIP_ROLE_PAIR] CHECK CONSTRAINT [ FK__PARTY_REL__ROLE___3552E9B6]
GO
ALTER TABLE [dbo].[PARTY_ROLE]  WITH CHECK ADD  CONSTRAINT [ FK__PARTY_ROL__PARTY__0E391C95] FOREIGN KEY([PARTY_ID])
REFERENCES [dbo].[PARTY] ([PARTY_ID])
GO
ALTER TABLE [dbo].[PARTY_ROLE] CHECK CONSTRAINT [ FK__PARTY_ROL__PARTY__0E391C95]
GO
ALTER TABLE [dbo].[PARTY_ROLE]  WITH CHECK ADD  CONSTRAINT [ FK_PARTY_ROLE_PARTY_ROLE_TYPE] FOREIGN KEY([ROLE_TYPE_ID])
REFERENCES [dbo].[PARTY_ROLE_TYPE] ([ROLE_TYPE_ID])
GO
ALTER TABLE [dbo].[PARTY_ROLE] CHECK CONSTRAINT [ FK_PARTY_ROLE_PARTY_ROLE_TYPE]
GO
ALTER TABLE [dbo].[PARTY_THING_RELATIONSHIP]  WITH CHECK ADD  CONSTRAINT [ FK__PARTY_THI__PARTY__6501FCD8] FOREIGN KEY([PARTY_THING_RELATIONSHIP_TYPE_ID])
REFERENCES [dbo].[PARTY_THING_RELATIONSHIP_TYPE] ([PARTY_THING_RELATIONSHIP_TYPE_ID])
GO
ALTER TABLE [dbo].[PARTY_THING_RELATIONSHIP] CHECK CONSTRAINT [ FK__PARTY_THI__PARTY__6501FCD8]
GO
ALTER TABLE [dbo].[PARTY_THING_RELATIONSHIP]  WITH CHECK ADD  CONSTRAINT [ FK__PARTY_THING_RELA__6319B466] FOREIGN KEY([PARTY_ID_FROM], [PARTY_ROLE_TYPE_ID_FROM])
REFERENCES [dbo].[PARTY_ROLE] ([PARTY_ID], [ROLE_TYPE_ID])
GO
ALTER TABLE [dbo].[PARTY_THING_RELATIONSHIP] CHECK CONSTRAINT [ FK__PARTY_THING_RELA__6319B466]
GO
ALTER TABLE [dbo].[PARTY_THING_RELATIONSHIP]  WITH CHECK ADD  CONSTRAINT [ FK__PARTY_THING_RELA__640DD89F] FOREIGN KEY([THING_ID_TO], [THING_ROLE_TYPE_ID_TO])
REFERENCES [dbo].[THING_ROLE] ([THING_ID], [ROLE_TYPE_ID])
GO
ALTER TABLE [dbo].[PARTY_THING_RELATIONSHIP] CHECK CONSTRAINT [ FK__PARTY_THING_RELA__640DD89F]
GO
ALTER TABLE [dbo].[PARTY_THING_RELATIONSHIP_ROLE_PAIR]  WITH CHECK ADD  CONSTRAINT [ FK__PARTY_THI__PARTY__5B78929E] FOREIGN KEY([PARTY_THING_RELATIONSHIP_TYPE_ID])
REFERENCES [dbo].[PARTY_THING_RELATIONSHIP_TYPE] ([PARTY_THING_RELATIONSHIP_TYPE_ID])
GO
ALTER TABLE [dbo].[PARTY_THING_RELATIONSHIP_ROLE_PAIR] CHECK CONSTRAINT [ FK__PARTY_THI__PARTY__5B78929E]
GO
ALTER TABLE [dbo].[PARTY_THING_RELATIONSHIP_ROLE_PAIR]  WITH CHECK ADD  CONSTRAINT [ FK__PARTY_THI__PARTY__5C6CB6D7] FOREIGN KEY([PARTY_ROLE_TYPE_ID_VALID_FROM])
REFERENCES [dbo].[PARTY_ROLE_TYPE] ([ROLE_TYPE_ID])
GO
ALTER TABLE [dbo].[PARTY_THING_RELATIONSHIP_ROLE_PAIR] CHECK CONSTRAINT [ FK__PARTY_THI__PARTY__5C6CB6D7]
GO
ALTER TABLE [dbo].[PARTY_THING_RELATIONSHIP_ROLE_PAIR]  WITH CHECK ADD  CONSTRAINT [ FK__PARTY_THI__THING__5D60DB10] FOREIGN KEY([THING_ROLE_TYPE_ID_VALID_TO])
REFERENCES [dbo].[THING_ROLE_TYPE] ([ROLE_TYPE_ID])
GO
ALTER TABLE [dbo].[PARTY_THING_RELATIONSHIP_ROLE_PAIR] CHECK CONSTRAINT [ FK__PARTY_THI__THING__5D60DB10]
GO
ALTER TABLE [dbo].[PASSIVE_ROLE]  WITH CHECK ADD  CONSTRAINT [ FK_PASSIVE_ROLE_THING_ROLE] FOREIGN KEY([THING_ID], [ROLE_TYPE_ID])
REFERENCES [dbo].[THING_ROLE] ([THING_ID], [ROLE_TYPE_ID])
GO
ALTER TABLE [dbo].[PASSIVE_ROLE] CHECK CONSTRAINT [ FK_PASSIVE_ROLE_THING_ROLE]
GO
ALTER TABLE [dbo].[PASSPORT]  WITH CHECK ADD  CONSTRAINT [ FK__PASSPORT__CITIZE__3BB5CE82] FOREIGN KEY([CITIZENSHIP_ID])
REFERENCES [dbo].[CITIZENSHIP] ([CITIZENSHIP_ID])
GO
ALTER TABLE [dbo].[PASSPORT] CHECK CONSTRAINT [ FK__PASSPORT__CITIZE__3BB5CE82]
GO
ALTER TABLE [dbo].[PERSON]  WITH CHECK ADD  CONSTRAINT [ FK__PERSON__PARTY_ID__35FCF52C] FOREIGN KEY([PARTY_ID])
REFERENCES [dbo].[PARTY] ([PARTY_ID])
GO
ALTER TABLE [dbo].[PERSON] CHECK CONSTRAINT [ FK__PERSON__PARTY_ID__35FCF52C]
GO
ALTER TABLE [dbo].[PERSON]  WITH CHECK ADD  CONSTRAINT [ FK_PERSON_GEOGRAPHIC_BOUNDARY] FOREIGN KEY([BIRTH_PLACE_ID])
REFERENCES [dbo].[GEOGRAPHIC_BOUNDARY] ([GEO_ID])
GO
ALTER TABLE [dbo].[PERSON] CHECK CONSTRAINT [ FK_PERSON_GEOGRAPHIC_BOUNDARY]
GO
ALTER TABLE [dbo].[PERSON_CLASSIFICATION]  WITH CHECK ADD  CONSTRAINT [ FK__PERSON_CLASSIFIC__53584DE9] FOREIGN KEY([FROM_DATE], [PARTY_TYPE_ID], [PARTY_ID])
REFERENCES [dbo].[PARTY_CLASSIFICATION] ([FROM_DATE], [PARTY_TYPE_ID], [PARTY_ID])
GO
ALTER TABLE [dbo].[PERSON_CLASSIFICATION] CHECK CONSTRAINT [ FK__PERSON_CLASSIFIC__53584DE9]
GO
ALTER TABLE [dbo].[PERSON_NAME]  WITH CHECK ADD  CONSTRAINT [ FK__PERSON_NA__PARTY__4BEC364B] FOREIGN KEY([PARTY_ID])
REFERENCES [dbo].[PERSON] ([PARTY_ID])
GO
ALTER TABLE [dbo].[PERSON_NAME] CHECK CONSTRAINT [ FK__PERSON_NA__PARTY__4BEC364B]
GO
ALTER TABLE [dbo].[PERSON_NAME]  WITH CHECK ADD  CONSTRAINT [ FK__PERSON_NA__PERSO__4CE05A84] FOREIGN KEY([PERSON_NAME_TYPE_ID])
REFERENCES [dbo].[PERSON_NAME_TYPE] ([PERSON_NAME_TYPE_ID])
GO
ALTER TABLE [dbo].[PERSON_NAME] CHECK CONSTRAINT [ FK__PERSON_NA__PERSO__4CE05A84]
GO
ALTER TABLE [dbo].[PERSON_NAME]  WITH CHECK ADD  CONSTRAINT [ FK_PERSON_NAME_PERSON_NAME_SEQ_TYPE] FOREIGN KEY([PERSON_NAME_SEQ_TYPE_ID])
REFERENCES [dbo].[PERSON_NAME_SEQ_TYPE] ([PERSON_NAME_SEQ_TYPE_ID])
GO
ALTER TABLE [dbo].[PERSON_NAME] CHECK CONSTRAINT [ FK_PERSON_NAME_PERSON_NAME_SEQ_TYPE]
GO
ALTER TABLE [dbo].[PERSON_NAME_TYPE]  WITH CHECK ADD  CONSTRAINT [ FK_PERSON_NAME_TYPE_THING_TYPE] FOREIGN KEY([PERSON_NAME_TYPE_ID])
REFERENCES [dbo].[THING_TYPE] ([THING_TYPE_ID])
GO
ALTER TABLE [dbo].[PERSON_NAME_TYPE] CHECK CONSTRAINT [ FK_PERSON_NAME_TYPE_THING_TYPE]
GO
ALTER TABLE [dbo].[PERSON_PHYSICAL_CHARACTERISTIC]  WITH CHECK ADD  CONSTRAINT [ FK__PHYSICAL___PARTY__51A50FA1] FOREIGN KEY([PARTY_ID])
REFERENCES [dbo].[PERSON] ([PARTY_ID])
GO
ALTER TABLE [dbo].[PERSON_PHYSICAL_CHARACTERISTIC] CHECK CONSTRAINT [ FK__PHYSICAL___PARTY__51A50FA1]
GO
ALTER TABLE [dbo].[PERSON_ROLE]  WITH CHECK ADD  CONSTRAINT [ FK__PERSON_ROLE__1B13F4C6] FOREIGN KEY([PARTY_ID], [ROLE_TYPE_ID])
REFERENCES [dbo].[PARTY_ROLE] ([PARTY_ID], [ROLE_TYPE_ID])
GO
ALTER TABLE [dbo].[PERSON_ROLE] CHECK CONSTRAINT [ FK__PERSON_ROLE__1B13F4C6]
GO
ALTER TABLE [dbo].[REGION]  WITH CHECK ADD  CONSTRAINT [ FK__REGION__GEO_ID__5F09F7B7] FOREIGN KEY([GEO_ID])
REFERENCES [dbo].[GEOGRAPHIC_BOUNDARY] ([GEO_ID])
GO
ALTER TABLE [dbo].[REGION] CHECK CONSTRAINT [ FK__REGION__GEO_ID__5F09F7B7]
GO
ALTER TABLE [dbo].[SALES_TERRITORY]  WITH CHECK ADD  CONSTRAINT [ FK__SALES_TER__GEO_I__61E66462] FOREIGN KEY([GEO_ID])
REFERENCES [dbo].[GEOGRAPHIC_BOUNDARY] ([GEO_ID])
GO
ALTER TABLE [dbo].[SALES_TERRITORY] CHECK CONSTRAINT [ FK__SALES_TER__GEO_I__61E66462]
GO
ALTER TABLE [dbo].[SERVICE_TERRITORY]  WITH CHECK ADD  CONSTRAINT [ FK__SERVICE_T__GEO_I__64C2D10D] FOREIGN KEY([GEO_ID])
REFERENCES [dbo].[GEOGRAPHIC_BOUNDARY] ([GEO_ID])
GO
ALTER TABLE [dbo].[SERVICE_TERRITORY] CHECK CONSTRAINT [ FK__SERVICE_T__GEO_I__64C2D10D]
GO
ALTER TABLE [dbo].[TERRITORY]  WITH CHECK ADD  CONSTRAINT [ FK__TERRITORY__GEO_I__2E5BD364] FOREIGN KEY([GEO_ID_OF_COUNTRY])
REFERENCES [dbo].[COUNTRY] ([GEO_ID])
GO
ALTER TABLE [dbo].[TERRITORY] CHECK CONSTRAINT [ FK__TERRITORY__GEO_I__2E5BD364]
GO
ALTER TABLE [dbo].[TERRITORY]  WITH CHECK ADD  CONSTRAINT [ FK__TERRITORY__GEO_I__4DDF6BB5] FOREIGN KEY([GEO_ID])
REFERENCES [dbo].[GEOGRAPHIC_BOUNDARY] ([GEO_ID])
GO
ALTER TABLE [dbo].[TERRITORY] CHECK CONSTRAINT [ FK__TERRITORY__GEO_I__4DDF6BB5]
GO
ALTER TABLE [dbo].[THING_CLASSIFICATION]  WITH CHECK ADD  CONSTRAINT [ FK__THING_CLA__THING__21C0F255] FOREIGN KEY([THING_ID])
REFERENCES [dbo].[THING] ([THING_ID])
GO
ALTER TABLE [dbo].[THING_CLASSIFICATION] CHECK CONSTRAINT [ FK__THING_CLA__THING__21C0F255]
GO
ALTER TABLE [dbo].[THING_CLASSIFICATION]  WITH CHECK ADD  CONSTRAINT [ FK__THING_CLA__THING__22B5168E] FOREIGN KEY([THING_TYPE_ID])
REFERENCES [dbo].[THING_TYPE] ([THING_TYPE_ID])
GO
ALTER TABLE [dbo].[THING_CLASSIFICATION] CHECK CONSTRAINT [ FK__THING_CLA__THING__22B5168E]
GO
ALTER TABLE [dbo].[THING_HISTORY]  WITH CHECK ADD  CONSTRAINT [ FK_THING_HISTORY_THING] FOREIGN KEY([THING_ID])
REFERENCES [dbo].[THING] ([THING_ID])
GO
ALTER TABLE [dbo].[THING_HISTORY] CHECK CONSTRAINT [ FK_THING_HISTORY_THING]
GO
ALTER TABLE [dbo].[THING_RELATIONSHIP]  WITH CHECK ADD  CONSTRAINT [ FK_THING_RELATIONSHIP_THING_RELATIONSHIP_TYPE] FOREIGN KEY([THING_RELATIONSHIP_TYPE_ID])
REFERENCES [dbo].[THING_RELATIONSHIP_TYPE] ([THING_RELATIONSHIP_TYPE_ID])
GO
ALTER TABLE [dbo].[THING_RELATIONSHIP] CHECK CONSTRAINT [ FK_THING_RELATIONSHIP_THING_RELATIONSHIP_TYPE]
GO
ALTER TABLE [dbo].[THING_RELATIONSHIP]  WITH CHECK ADD  CONSTRAINT [ FK_THING_RELATIONSHIP_THING_ROLE] FOREIGN KEY([THING_ID_FROM], [ROLE_TYPE_ID_FROM])
REFERENCES [dbo].[THING_ROLE] ([THING_ID], [ROLE_TYPE_ID])
GO
ALTER TABLE [dbo].[THING_RELATIONSHIP] CHECK CONSTRAINT [ FK_THING_RELATIONSHIP_THING_ROLE]
GO
ALTER TABLE [dbo].[THING_RELATIONSHIP]  WITH CHECK ADD  CONSTRAINT [ FK_THING_RELATIONSHIP_THING_ROLE1] FOREIGN KEY([THING_ID_TO], [ROLE_TYPE_ID_TO])
REFERENCES [dbo].[THING_ROLE] ([THING_ID], [ROLE_TYPE_ID])
GO
ALTER TABLE [dbo].[THING_RELATIONSHIP] CHECK CONSTRAINT [ FK_THING_RELATIONSHIP_THING_ROLE1]
GO
ALTER TABLE [dbo].[THING_RELATIONSHIP_ROLE_PAIR]  WITH CHECK ADD  CONSTRAINT [ FK_THING_RELATIONSHIP_ROLE_PAIR_THING_RELATIONSHIP_TYPE] FOREIGN KEY([THING_RELATIONSHIP_TYPE_ID])
REFERENCES [dbo].[THING_RELATIONSHIP_TYPE] ([THING_RELATIONSHIP_TYPE_ID])
GO
ALTER TABLE [dbo].[THING_RELATIONSHIP_ROLE_PAIR] CHECK CONSTRAINT [ FK_THING_RELATIONSHIP_ROLE_PAIR_THING_RELATIONSHIP_TYPE]
GO
ALTER TABLE [dbo].[THING_RELATIONSHIP_ROLE_PAIR]  WITH CHECK ADD  CONSTRAINT [ FK_THING_RELATIONSHIP_ROLE_PAIR_THING_ROLE_TYPE] FOREIGN KEY([ROLE_TYPE_ID_VALID_FROM])
REFERENCES [dbo].[THING_ROLE_TYPE] ([ROLE_TYPE_ID])
GO
ALTER TABLE [dbo].[THING_RELATIONSHIP_ROLE_PAIR] CHECK CONSTRAINT [ FK_THING_RELATIONSHIP_ROLE_PAIR_THING_ROLE_TYPE]
GO
ALTER TABLE [dbo].[THING_RELATIONSHIP_ROLE_PAIR]  WITH CHECK ADD  CONSTRAINT [ FK_THING_RELATIONSHIP_ROLE_PAIR_THING_ROLE_TYPE1] FOREIGN KEY([ROLE_TYPE_ID_VALID_TO])
REFERENCES [dbo].[THING_ROLE_TYPE] ([ROLE_TYPE_ID])
GO
ALTER TABLE [dbo].[THING_RELATIONSHIP_ROLE_PAIR] CHECK CONSTRAINT [ FK_THING_RELATIONSHIP_ROLE_PAIR_THING_ROLE_TYPE1]
GO
ALTER TABLE [dbo].[THING_ROLE]  WITH CHECK ADD  CONSTRAINT [ FK__THING_ROL__ROLE___56B3DD81] FOREIGN KEY([ROLE_TYPE_ID])
REFERENCES [dbo].[THING_ROLE_TYPE] ([ROLE_TYPE_ID])
GO
ALTER TABLE [dbo].[THING_ROLE] CHECK CONSTRAINT [ FK__THING_ROL__ROLE___56B3DD81]
GO
ALTER TABLE [dbo].[THING_ROLE]  WITH CHECK ADD  CONSTRAINT [ FK__THING_ROL__THING__55BFB948] FOREIGN KEY([THING_ID])
REFERENCES [dbo].[THING] ([THING_ID])
GO
ALTER TABLE [dbo].[THING_ROLE] CHECK CONSTRAINT [ FK__THING_ROL__THING__55BFB948]
GO
ALTER TABLE [dbo].[THING_ROLE_TYPE]  WITH CHECK ADD  CONSTRAINT [ FK__THING_ROL__ROLE___4D2A7347] FOREIGN KEY([ROLE_TYPE_ID])
REFERENCES [dbo].[ROLE_TYPE] ([ROLE_TYPE_ID])
GO
ALTER TABLE [dbo].[THING_ROLE_TYPE] CHECK CONSTRAINT [ FK__THING_ROL__ROLE___4D2A7347]
GO
ALTER TABLE [dbo].[THING_TYPE]  WITH CHECK ADD  CONSTRAINT [ FK_THING_TYPE_THING_TYPE] FOREIGN KEY([THING_TYPE_ID_ROOT])
REFERENCES [dbo].[THING_TYPE] ([THING_TYPE_ID])
GO
ALTER TABLE [dbo].[THING_TYPE] CHECK CONSTRAINT [ FK_THING_TYPE_THING_TYPE]
GO
ALTER TABLE [dbo].[WARD]  WITH CHECK ADD  CONSTRAINT [ FK__WARD__GEO_ID__5C2D8B0C] FOREIGN KEY([GEO_ID])
REFERENCES [dbo].[GEOGRAPHIC_BOUNDARY] ([GEO_ID])
GO
ALTER TABLE [dbo].[WARD] CHECK CONSTRAINT [ FK__WARD__GEO_ID__5C2D8B0C]
GO
