<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nghỉ việc đi!</title>
    <title>Bạn đừng nghỉ việc!</title>
    <link rel="stylesheet" href="send.css">
    <link rel="shortcut icon" href="Images/logo.png" type="image/x-icon">
</head>

<body>
    <header>
        <div>
            <p id="tognoek">
                Dưới đây là kết quả của bạn.
            </p>
        </div>
        <img src="Images/dongluc.gif">
    </header>
    <main>
        <div class="ketqua">
            <img src="Images/cute.gif" alt="">
            <div class="container">
                <ul class="responsive-table">
                    <li class="table-header">
                        <div class="col col-2">Phương thức</div>
                        <div class="col col-2">Kết quả</div>
                        <div class="col col-1">Tỷ lệ</div>
                    </li>
                    <li class="table-row">
                        <div class="col col-2" data-label="Job Id">Neural Network</div>
                        <div class="col col-2" data-label="Customer Name">Nghỉ việc</div>
                        <div class="col col-1" data-label="Amount">70%</div>
                    </li>
                    <li class="table-row">
                        <div class="col col-2" data-label="Job Id">Neural Network</div>
                        <div class="col col-2" data-label="Customer Name">Nghỉ việc</div>
                        <div class="col col-1" data-label="Amount">70%</div>
                    </li>
                    <li class="table-row">
                        <div class="col col-2" data-label="Job Id">Neural Network</div>
                        <div class="col col-2" data-label="Customer Name">Nghỉ việc</div>
                        <div class="col col-1" data-label="Amount">70%</div>
                    </li>
                </ul>
            </div>
            <img src="Images/cute.gif" alt="">
        </div>
        <div class="loikhuyen">
            <strong>Best First-Person Shooters</strong>

            <ol class="alternating-colors">
                <li class="li-ne">
                    <strong>Half-Life 2</strong>
                    <p>Fight aliens, wear a head crab, learn about gravity</p>
                </li>
                <li class="li-ne">
                    <strong>Halo: Combat Evolved</strong>
                    <p>Fight aliens, wear an AI, learn about screen peeking siblings</p>
                </li>
                <li class="li-ne">
                    <strong>Team Fortress 2</strong>
                    <p>Fight non-alien residents, wear hats, learn about teamwork</p>
                </li>
                <li class="li-ne">
                    <strong>Tribes</strong>
                    <p>Ski, slip, and slide your way to victory</p>
                </li>
            </ol>
        </div>
    </main>
    <footer>
        <img src="Images/send.gif" alt="">
        <div>
            <p>
                Góp ý cho chúng tôi nếu bạn cảm giác bị ngứa họng nha.
            </p>
            <form action="POST" method="">
                <div class="group">
                    <input type="text" name="name" id="name" required="required" class="input-info tognoek">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="name" class="tog">Tên của nhỏ</label>
                </div>
                <div class="group">
                    <input type="email" name="email" id="email" required="required" class="input-info tognoek">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="email" class="tog">Nhét email để nhập lời ngấp</label>
                </div>
                <div class="group">
                    <textarea type="textarea" rows="5" required="required"></textarea>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="message" class="tog">Những lời ngứa họng của nhỏ viết đây</label>
                </div>
                <button type="submit" class="button-30 btn_tg" role="button">Gửi đi con đĩ này!</button>
            </form>
        </div>
    </footer>
    <script src="send.js"></script>
</body>

</html>